<div class="h-90 grid gird-cols-2 md:grid-cols-4 gap-4 mt-4">
    <a href="/projects" class="relative overflow-hidden group flex flex-col justify-between bg-cover bg-center bg-neutral-900 border border-neutral-800 text-white col-span-2 rounded-xl p-4 h-80 hover:scale-105 hover:grayscale-0 transition-all duration-150">
        <div class="relative z-20 flex justify-between text-xl">
            <p>See more</p>
            <svg class="group-hover:scale-110 transition-all duration-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path> <path d="M11 13l9 -9"></path> <path d="M15 4h5v5"></path> </svg> 
        </div>
        <div class="relative z-20 grid place-content-center">
            <img class="grayscale group-hover:grayscale-0 transition-all duration-150 w-96" src="projects-cover.png" alt="contact">
        </div>
        <div class="relative z-20 ">
            <h2 class="text-5xl font-semibold">Projects</h2>
        </div>
        <div class="absolute w-96 h-96 group-hover:scale-150 transition-all duration-500 bg-white/5 rounded-full top-20 md:top-[60%] md:bottom-[-40%]  right-[-24%]"></div>
		<div class="absolute w-80 h-80 group-hover:scale-150 transition-all duration-500 bg-white/5 rounded-full top-32 md:top-[67%] md:bottom-[-32%] right-[-19%]"></div>
    </a>
    <a href="/about" class="group relative overflow-hidden flex flex-col justify-between bg-tertiary rounded-xl p-4 h-80 hover:scale-105 transition-all duration-150">
        <div class="relative z-20 flex justify-between text-xl text-black">
            <p>See more</p>
            <svg class="group-hover:scale-110 transition-all duration-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path> <path d="M11 13l9 -9"></path> <path d="M15 4h5v5"></path> </svg> 
        </div>
        <div class="relative z-20 grid place-content-center">
            <img class=" grayscale  group-hover:grayscale-0 transition-all duration-150 w-64" src="about-cover.png" alt="contact">
        </div>
        <div class="relative z-20">
            <h2 class="text-3xl md:text-5xl text-black font-semibold">About me</h2>
        </div>
        <div class="absolute w-96 h-96 group-hover:scale-150 transition-all duration-500 bg-white/20 rounded-full top-[-70%] md:top-[-45%] left-[-70%] md:left-[-35%]"></div>
		<div class="absolute w-80 h-80 group-hover:scale-150 transition-all duration-500 bg-white/20 rounded-full top-[-60%] md:top-[-35%] left-[-60%] md:left-[-24%]"></div>
    </a>
    <a href="/contact" class="group relative overflow-hidden flex flex-col justify-between bg-fourth rounded-xl p-4 h-80 hover:scale-105 transition-all duration-150">
        <div class="relative z-30 right flex justify-between text-xl">
            <p>See more</p>
            <svg class="group-hover:scale-110 transition-all duration-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path> <path d="M11 13l9 -9"></path> <path d="M15 4h5v5"></path> </svg> 
        </div>
        <img class="absolute z-10 left-5 md:left-20 bottom-0 grayscale  group-hover:grayscale-0 transition-all duration-150 w-24" src="contact-cover.png" alt="contact">
        <div class="relative z-30right">
            <h2 class="relative z-20 text-3xl md:text-5xl font-semibold">Contact</h2>
        </div>
        <div class="absolute w-96 h-96 group-hover:scale-150 transition-all duration-500 bg-white/20 rounded-full top-[-70%] md:top-[-45%] right-[-70%] md:right-[-35%]"></div>
		<div class="absolute w-80 h-80 group-hover:scale-150 transition-all duration-500 bg-white/20 rounded-full top-[-60%] md:top-[-35%] right-[-60%] md:right-[-24%]"></div>
    </a>
</div>