<div class="flex justify-between items-center pt-4">
    <div class="text-2xl text-white font-semibold ps-4">
        INGP.DEV
    </div>
    <div class="bg-secondary py-2 px-4 rounded-t-xl">
        <button class="flex items-center gap-1 hover:scale-110 transition-all duration-150 text-sm bg-primary text-secondary px-6 py-2 rounded-3xl">
            <p>Download Resume</p>
        </button>
    </div>
</div>