<div class="h-90 grid gird-cols-2 md:grid-cols-4 gap-4 mt-4">
    <article class="flex flex-col justify-between bg-[url('projects-cover.png')] bg-cover bg-center grayscale bg-neutral-900 border border-neutral-800 text-white col-span-2 rounded-xl p-4 h-80 hover:scale-105 hover:grayscale-0 transition-all duration-150">
        <div class="flex justify-between text-xl">
            <p>See more</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path> <path d="M11 13l9 -9"></path> <path d="M15 4h5v5"></path> </svg> 
        </div>
        <div>
            <h2 class="text-5xl font-semibold">Projects</h2>
        </div>
    </article>
    <article class="group relative overflow-hidden flex flex-col justify-between bg-tertiary rounded-xl p-4 h-80 hover:scale-105 transition-all duration-150">
        <div class="flex justify-between text-xl">
            <p>See more</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path> <path d="M11 13l9 -9"></path> <path d="M15 4h5v5"></path> </svg> 
        </div>
        <div class="grid place-content-center">
            <img class=" grayscale  group-hover:grayscale-0 transition-all duration-150 w-64" src="about-cover.png" alt="contact">
        </div>
        <div>
            <h2 class="text-3xl md:text-5xl font-semibold">About me</h2>
        </div>
    </article>
    <article class="group relative overflow-hidden flex flex-col justify-between bg-fourth rounded-xl p-4 h-80 hover:scale-105 transition-all duration-150">
        <div class="flex justify-between text-xl">
            <p>See more</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path> <path d="M11 13l9 -9"></path> <path d="M15 4h5v5"></path> </svg> 
        </div>
        <img class="absolute z-10 left-10 md:left-20 bottom-0 grayscale  group-hover:grayscale-0 transition-all duration-150 w-24" src="contact-cover.png" alt="contact">
        <div>
            <h2 class="relative z-20 text-3xl md:text-5xl font-semibold">Contact</h2>
        </div>
    </article>
</div>