---
import { getCollection } from 'astro:content';

const socialMedia = await getCollection('social');
---

<div class="w-full h-fit overflow-hidden">
   <main class="relative grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-0 bg-secondary rounded-tl-2xl rounded-b-2xl pt-20 px-6 overflow-hidden">
		<div class="relative z-50 flex flex-col items-start gap-16 p-8">
			<div>
				<h2 class="uppercase text-xl font-thin ps-2">Ignacio Poletti</h2>
				<h1 class="text-6xl md:text-8xl font-bold">
					FrontEnd<span class="block">Developer.</span>
				</h1>
			</div>
			<div class="relative z-50 w-full">
				<div class="border-b-2 border-black pb-2 w-full gap-1 uppercase">
					<div class="flex justify-evenly gap-8 py-4 h-0">
						{
							socialMedia.map((media) => <a href={media.data.url} class="hover:scale-110 transition-all duration-150 flex items-center gap-1 capitalize"><img src={media.data.icon}/><p>{media.data.title}</p></a>)
						}	
					</div> 				
				</div>
			</div>
		</div>
		<div class="relative flex justify-center">
			<div class="absolute w-96 h-96 md:left-[10%] top-[-5%] md:top-[-8%] bg-gradient-to-b from-primary via-transparent to-secondary rounded-full p-1 animate-spin-slow">
				<div class="bg-secondary h-full w-full rounded-full"></div>
			</div>
			<div class="absolute w-80 h-80 left-[5%] md:left-[15%] top-[2%] md:top-0 bg-gradient-to-t from-primary via-transparent to-secondary rounded-full p-1 animate-spin-slow">
				<div class="bg-secondary h-full w-full rounded-full"></div>
			</div>
			<button class="absolute grid place-content-center w-24 h-24 right-0 md:right-[16%] bottom-[20%] md:bottom-[30%] rounded-full bg-primary animate-spin-slow">
				<div class="w-2 h-2 bg-white rounded-full"></div>
				<svg class="absolute w-full h-full" viewBox="0 0 100 100">
					<path
					  id="circlePath"
					  d="M50,50 m-30,0 a30,30 0 1,1 60,0 a30,30 0 1,1 -60,0"
					  fill="none"
					/>
					<text fill="white" font-size="10" font-family="Inter">
						<textPath href="#circlePath" startOffset="50%" text-anchor="bottom">
						Book a meet here
						</textPath>
					</text>
					<text fill="white" font-size="10" font-family="Inter">
						<textPath href="#circlePath" startOffset="0%" text-anchor="bottom">
							Book a meet here
						</textPath>
					</text>
				  </svg>
			</button>
			<img class="grayscale w-72 drop-shadow-lg" src="mainpic.png" alt="main-pic">
		</div>
		<div class="absolute w-96 h-96 bg-white/20 rounded-full top-3 md:top-[60%] md:bottom-[-40%] left-[-40%] md:left-[6%]"></div>
		<div class="absolute w-80 h-80 bg-white/20 rounded-full top-10 md:top-[67%] md:bottom-[-32%] left-[-35%] md:left-[9%]"></div>
   </main>
</div>
