---
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Ignacio Poletti - FrontEnd Developer</title>
		<ClientRouter/>
	</head>
	<body class="grid place-content-center maring-0 w-full h-full bg-primary px-4 pt-4 pb-12">
		<div>
			<slot />
		</div>
	</body>
</html>
